.message {
    display: flex;
    gap: var(--space-8-s);
    align-items: flex-start;
    padding: var(--space-8-s);
    background-color: var(--color-bg-quaternary);
    border-radius: var(--border-radius-5-s);
}

.role {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: var(--space-6-s);
}

.text ol, .text ul {
    list-style: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-4-s);
}

.text li {
    margin-left: var(--space-8-s);
    padding-left: var(--space-2-s);
    list-style: auto;
}